/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 18, 2018, 4:34:24 PM
    Author     : Norm
*/

.banner {
    background-image: url(./images/pattern.jpeg);
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

.product-header {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.product-name {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
}

.product-text {
    font-family: Helvetica;
    font-size: 16px;
}

.price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}